{% include base_path %}

<div class="page__footer-follow">
  <ul class="social-icons">
    <li><a href="{{ base_path }}/contact/">Contact</a></li>
    <li><a href="https://www.linkedin.com/in/{{ site.author.linkedin }}">LinkedIn</a></li>
    <li><a href="https://{{ site.author.substack }}.substack.com">Writing</a></li>
    <li><a href="{{ base_path }}/cv/">Resume</a></li>
  </ul>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.author.name | default: site.title }}.</div>
